body {
  background: linear-gradient(
    to right,
    #01162e,
    #001d37,
    #002746,
    #013155,
    #003a63,
    #01426d
  );
}

.bg-dark {
  background: transparent !important;
}

.navbar a {
  color: white !important;
  transition: 0.5s;
}

.navbar a:hover {
  color: #02b9a7 !important;
}

#search-input {
  border-radius: 0px;
  background: transparent;
  color: white;
  box-shadow: none !important;
}




#card-list {
  max-width: 1300px;
}

.col {
  position: relative;
  overflow: hidden;
  padding: 15px;
  margin: 0;
}

.col:hover .overlay {
  opacity: 1;
  z-index: 999;
}

img {
  min-height: 100%;

  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 15px;
  bottom: 0;
  left: 15px;
  right: 0;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  opacity: 0;
  transition: 0.5s ease;
  background-image: linear-gradient(
    to bottom,
    transparent,
    transparent,
    rgba(0, 0, 0, 0.5)
  );
}

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  bottom: 5px;
  left: 5px;
  /* -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  text-align: center;
}

.btn {
  border-radius: 0;
  background-color: transparent;
  color: white;
  transition: 1s;
  border: solid white 1px;
  background-size: 200% auto;
  
}

.btn:hover {
  border: solid white 1px;
  background-position: right center;
  background-image: linear-gradient(to right, #02b9a7 25%, #0270b9  51%, #0215b9 100%) !important;
}

.btn:focus {
  box-shadow: none !important;
}

.col:hover {
  transform: scale(1.1);
  transition: 1s;
  z-index: 1;
}
