.navbar-fixed {
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
/* 
#card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */
.col:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 3s;
  border-left: 8px solid red;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
